.wantToWork-area{
    background: #f8fcff;
    padding-bottom: 150px;
    @media #{$md}{
        padding-bottom: 100px;
    }
    @media #{$sm}{
        padding-bottom: 70px;
    }
    @media #{$xs}{
        padding-bottom: 70px;
    }
    .wantToWork-caption{
        h2{
            color: #fff;
            font-size: 35px;
            font-weight: 700;
            line-height: 1.5;
            margin: 0;

            @media #{$md}{
                font-size: 30px; 
            }
            @media #{$sm}{
                font-size: 35px; 
                margin-bottom: 20px;
            }
            @media #{$xs}{
                font-size: 25px; 
                margin-bottom: 20px;
            }
        } 
        p{
            font-size: 18px;
        }
    }    
    .wantToWork-btn{

        @media #{$sm}{
            float: left;
            margin-top: 30px;
        }
        @media #{$xs}{
            float: left;
            margin-top: 30px;
        }
        @media #{$md}{
            float: left;
            margin-top: 30px;
        }
    }
}
.sm-left{
    @media #{$xs}{
        float: left;
        margin-top: 30px;
    } 
    @media #{$sm}{
        float: left;
        margin-top: 30px;
    } 
}